@font-face {
    font-family: 'GothamNarrowBlack';
    src: url('../../common/fonts/gotham/gothamnarrow-black.eot');
    src: url('../../common/fonts/gotham/gothamnarrow-black.eot') format('embedded-opentype'),
         url('../../common/fonts/gotham/gothamnarrow-black.woff') format('woff'),
         url('../../common/fonts/gotham/gothamnarrow-black.ttf') format('truetype'),
         url('../../common/fonts/gotham/gothamnarrow-black.svg#GothamNarrowBlack') format('svg');
}
 