@font-face {
    font-family: 'GothamMedium';
    src: url('../../common/fonts/gotham/gotham-medium.eot');
    src: url('../../common/fonts/gotham/gotham-medium.eot') format('embedded-opentype'),
         url('../../common/fonts/gotham/gotham-medium.woff') format('woff'),
         url('../../common/fonts/gotham/gotham-medium.ttf') format('truetype'),
         url('../../common/fonts/gotham/gotham-medium.svg#GothamMedium') format('svg');
}
 