@font-face {
    font-family: 'GothamThin';
    src: url('../../common/fonts/gotham/gotham-thin.eot');
    src: url('../../common/fonts/gotham/gotham-thin.eot') format('embedded-opentype'),
         url('../../common/fonts/gotham/gotham-thin.woff') format('woff'),
         url('../../common/fonts/gotham/gotham-thin.ttf') format('truetype'),
         url('../../common/fonts/gotham/gotham-thin.svg#GothamThin') format('svg');
}  
  