@font-face {
    font-family: 'GothamNarrowBlack';
    src: url('../fonts/gotham/gothamnarrow-black.eot');
    src: url('../fonts/gotham/gothamnarrow-black.eot') format('embedded-opentype'), url('../fonts/gotham/gothamnarrow-black.woff') format('woff'), url('../fonts/gotham/gothamnarrow-black.ttf') format('truetype'), url('../fonts/gotham/gothamnarrow-black.svg#GothamNarrowBlack') format('svg');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/gotham/gotham-light.eot');
    src: url('../fonts/gotham/gotham-light.eot') format('embedded-opentype'), url('../fonts/gotham/gotham-light.woff') format('woff'), url('../fonts/gotham/gotham-light.ttf') format('truetype'), url('../fonts/gotham/gotham-light.svg#GothamLight') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/gotham/gotham-bold.eot');
    src: url('../fonts/gotham/gotham-bold.eot') format('embedded-opentype'), url('../fonts/gotham/gotham-bold.woff') format('woff'), url('../fonts/gotham/gotham-bold.ttf') format('truetype'), url('../fonts/gotham/gotham-bold.svg#GothamBold') format('svg');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/gotham/gotham-medium.eot');
    src: url('../fonts/gotham/gotham-medium.eot') format('embedded-opentype'), url('../fonts/gotham/gotham-medium.woff') format('woff'), url('../fonts/gotham/gotham-medium.ttf') format('truetype'), url('../fonts/gotham/gotham-medium.svg#GothamMedium') format('svg');
}

@font-face {
    font-family: 'GothamThin';
    src: url('../fonts/gotham/gotham-thin.eot');
    src: url('../fonts/gotham/gotham-thin.eot') format('embedded-opentype'), url('../fonts/gotham/gotham-thin.woff') format('woff'), url('../fonts/gotham/gotham-thin.ttf') format('truetype'), url('../fonts/gotham/gotham-thin.svg#GothamThin') format('svg');
}

@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gotham/gotham-book-webfont.eot');
    src: url('../fonts/gotham/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'), url('../fonts/gotham/gotham-book-webfont.woff') format('woff'), url('../fonts/gotham/gotham-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}