.m-menu {
	padding: 0;
	.m-menu {
		margin-left: 20px;
	}
	.m-menu_item {
		display: block;
		float: none;
		padding: 0;
		text-align: left;
		border: 0;
		a {
			&:hover {
				color: $cl-secondary;
				text-decoration: none;
			}
		}
		&.is-active {
			color: $cl-white;
			background: $cl-grey9E;
			border: 0;
			a {
				color: $cl-white;
				&:hover {
					color: $cl-white;
					background: $cl-grey9E;
				}
			}
			.is-svgIcon {
				svg {
					fill: $cl-white;
				}
			}
		}
		.is-checked {
			position: relative;
			&::before {
				position: absolute;
				top: 13px;
				left: 4px;
				font-size: 12px;
				font: normal normal normal 14px/1 FontAwesome;
				content: '\f00c';
			}
		}
		&:last-child {
			border: 0;
		}
		p {
			position: relative;
			cursor: pointer;
			i {
				position: absolute;
				right: 15px;
			}
		}
		.js-expand {
			&.is-active {
				i {
					transform: rotate(180deg);
				}
			}
		}
		a,
		p {
			position: relative;
			display: block;
			padding: 10px 10px 10px 30px;
			font-size: 16px;
			font-weight: 400;
			color: $cl-grey4;
			.is-svgIcon {
				position: absolute;
				left: 30px;
				svg {
					fill: $cl-greyD8;
				}
			}
		}
	}
	.m-menu_list {
		background: $cl-greyF5;
		
	}
}